{% extends "base.html" %}
{% block content %}

<h6 style="text-align:left;"> Беседа {{ chat.name }}</h6>
<div class="container">
    <div class="row" style="margin: 10 px;">
<div class="btn-group .btn-group-sm" >
    <a class="btn btn-secondary" href="#">Rename chat</a>
    <a class="btn btn-secondary" href="#">Add user</a>
    <div class="btn-group">
    <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
       User in chat
    </a>
    <div class="dropdown-menu" id="members">
        {% for member in members %}
        <a class="dropdown-item" href="{{ url_for('user_page', user_id=member[0]) }}">{{ member[1] }}</a>
                {% endfor %}
    </div>
</div>
</div>
    </div>

   <div class="row" style="margin-top: 100px;">
        <div class="col-sm">
            <div id="messages_box">
                <div id="messages">
                </div>
                <div id="send_message">
                    <input id="chat_id" type="hidden" value={{ chat.id }}>
                    <input type="text" id="text_input" placeholder="ПИШИ ТУТ!!!">
                    <input id="submit" type="submit">
                </div>
            </div>
        </div>
    </div>
    <div class = "row"  style="margin-top:20px;">
        <ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
    </div>
</div>
<script src="{{ url_for('static', filename='js/chat.js', v=35) }}"></script>
{% endblock %}